<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="admin-panel">admin panel</h1>
    <%blogs.forEach(blog=>{%>
    <ul class="add-form">
      <img src="./uploads/<%=blog.img%>" alt="" width="100px" height="100px" />
      <li><%=blog.fName%></li>
      <li><%=blog.lName%></li>
      <li><%=blog.note%></li>
    </ul>
    <button class="admin-delete" data-id="<%=blog._id%>">sil</button>
    <% })%>
    <script>
      const del = document.querySelectorAll(".admin-delete");
      del.forEach((item) => {
        item.addEventListener("click", (e) => {
          const endpoint = `admin/delete/${item.dataset.id}`;
          fetch(endpoint, {
            method: "DELETE",
          })
            .then((res) => res.json())
            .then((data) => (window.location.href = data.link))
            .catch((err) => console.log("errr"));
        });
      });
    </script>
  </body>
</html>
